.preloader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $white;

    > div {
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        font-size: 2rem;
    }
}
